
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
/**
 * Remove default margin.
 */
body {
    margin: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}


.login-box {
    display: block;
    min-width: 1200px;
}
.login-box .bg {
    background-repeat: no-repeat;
    background-position: center;
    min-height: 728px;
}
.login-box .warp {
    position: relative;
}
.login-box .form-box {
    position: absolute;
    /*right: 200px;*/
    left: 200px;
    top: 150px;
    width: 466px;
    background: #fff;
    box-shadow: 0 -2px 34px 1px rgba(4, 4, 4, 0.2);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 36px;
}
.login-box .form-box.czmm {
    padding-top: 20px;
}
.login-box .form-box .tit {
    line-height: 48px;
    overflow: auto;
    position: relative;
    margin-top: 38px;
}
.login-box .form-box .tit a {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #ddd;
    color: #999;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.login-box .form-box .tit a.active {
    color: #222;
}
.login-box .form-box .tit .line {
    height: 1px;
    background: #d90303;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.login-box .form-box .cont-box {
    padding-top: 40px;
}
.login-box .form-box .cont-box .cont-item {
    display: none;
}
.login-box .form-box .cont-box .cont-item.active {
    display: block;
}
.login-box .form-box .cont-box .cont-item .input-txt {
    border: 1px solid #ddd;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 396px;
    height: 46px;
    line-height: 46px;
    padding-left: 48px;
    padding-right: 20px;
    margin-bottom: 20px;
    position: relative;
}
.login-box .form-box .cont-box .cont-item .input-txt i {
    color: #13227a;
    position: absolute;
    left: 10px;
}
.login-box .form-box .cont-box .cont-item .input-txt input {
    border: 0;
    outline: none;
    width: 100%;
}
.login-box .form-box .cont-box .cont-item .input-txt .icon-shouji {
    font-size: 24px;
}
.login-box .form-box .cont-box .cont-item .input-txt .icon-suo {
    font-size: 24px;
}
.login-box .form-box .cont-box .cont-item .input-txt .icon-anquan {
    font-size: 24px;
}
.login-box .form-box .cont-box .cont-item .yzm-box {
    overflow: auto;
}
.login-box .form-box .cont-box .cont-item .yzm-box2 {
    overflow: auto;
}
.login-box .form-box .cont-box .cont-item .yzm-box2 .yzm {
    padding: 0 20px;
}
.login-box .form-box .cont-box .cont-item .yzm-box2 .yzm-btn img {
    width: 100%;
}
.login-box .form-box .cont-box .cont-item .yzm {
    width: 233px;
    float: left;
}
.login-box .form-box .cont-box .cont-item .yzm-btn {
    width: 144px;
    float: left;
    margin-left: 17px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    padding: 0;
    color: #333;
}
.login-box .form-box .cont-box .cont-item .form-ft {
    width: 394px;
    bottom: 30px;
    margin: 20px 0;
    overflow: auto;
    border: 1px solid transparent;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login-box .form-box .cont-box .cont-item .form-ft .login-btn {
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 22px;
    color: #fff;
    background-color: #d90303;
    display: block;
    text-align: center;
}
.login-box .form-box .cont-box .cont-item .form-ft .xy {
    color: #13227a;
    float: right;
    line-height: 36px;
}
.login-box .form-box .cont-box .cont-item .form-ft .wjmm {
    color: #333;
    float: right;
    line-height: 36px;
}